<mat-card>
    <mat-card-content class="card-login">
      <mat-card-title>Encontre sua conta</mat-card-title>
      <form #redefinirSenha="ngForm" (submit)="atualizaSenha(redefinirSenha)">
        <br>
        <p>Insira seu CPF para redefinir sua senha.</p>
        <mat-form-field appearance="outline">
          <input type="text" matInput placeholder="CPF" ngModel mask="000.000.000-00" name="cpf" required/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="senha">
          <input 
          type="password" 
          matInput 
          placeholder="Nova Senha" 
          ngModel 
          name="senha" 
          required
          minlength="8" 
          maxlength="15"
          />
        </mat-form-field>
        <button mat-raised-button color="primary">Enviar</button>
      </form>
    </mat-card-content>