.cartao {
    max-width: 400px;
    margin-bottom: 8px ;
    border-radius: 5%;
    margin: auto;
 }

.ajuste{
    border-radius: 5%;
    width: 60%;
    height: 60%;
}

.mat-card-title{
    font-size: large;
}

p {
    margin-top: 10%;
    max-width:120px;
    font-size: small;
}

.primeiro{
    margin-top: 10%;
}