<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>Leonardo Silva</mat-card-title>
          <img class="ajuste" mat-card-xl-image src="../../../assets/Images/leo.png">
      </mat-card-title-group>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>Thales Troia</mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/thales.png">
      </mat-card-title-group>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>Vinicius Gabriel</mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/leo.png">
      </mat-card-title-group>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>Marianna Monteiro</mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/mari.png">
      </mat-card-title-group>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>Vinicius Ruffo</mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/ruffo.png">
      </mat-card-title-group>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>Rafael Lopes</mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/rafa.png">
      </mat-card-title-group>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  
</mat-grid-list>
