<mat-grid-list cols="3" rowHeight="3:2">

  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>
          Leonardo Silva
          <mat-divider class="primeiro"></mat-divider>
          <p>20 Anos</p>
          <mat-divider></mat-divider>
          <p>Ciencia da Computação</p>
          <mat-divider></mat-divider>
          <p>5º Semestre</p>
          <mat-divider></mat-divider>
        </mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/leo.png">
      </mat-card-title-group>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>
          Thales Troia
          <mat-divider class="primeiro"></mat-divider>
          <p>21 Anos</p>
          <mat-divider></mat-divider>
          <p>Ciencia da Computação</p>
          <mat-divider></mat-divider>
          <p>6º Semestre</p>
          <mat-divider></mat-divider>
        </mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/thales.png">
      </mat-card-title-group>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>
          Vinicius Gabriel
          <mat-divider class="primeiro"></mat-divider>
          <p>18 Anos</p>
          <mat-divider></mat-divider>
          <p>Ciencia da Computação</p>
          <mat-divider></mat-divider>
          <p>4º Semestre</p>
          <mat-divider></mat-divider>
        </mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/leo.png">
      </mat-card-title-group>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>
          Marianna Monteiro
          <mat-divider class="primeiro"></mat-divider>
          <p>21 Anos</p>
          <mat-divider></mat-divider>
          <p>Ciencia da Computação</p>
          <mat-divider></mat-divider>
          <p>6º Semestre</p>
          <mat-divider></mat-divider>
        </mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/mari.png">
      </mat-card-title-group>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>
          Vinicius Ruffo
          <mat-divider class="primeiro"></mat-divider>
          <p>21 Anos</p>
          <mat-divider></mat-divider>
          <p>Analise e Desenvolvimento de Sistemas</p>
          <mat-divider></mat-divider>
          <p>4º Semestre</p>
          <mat-divider></mat-divider>
        </mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/ruffo.png">
      </mat-card-title-group>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="cartao">
      <mat-card-title-group>
        <mat-card-title>
          Rafael Lopes
          <mat-divider class="primeiro"></mat-divider>
          <p>25 Anos</p>
          <mat-divider></mat-divider>
          <p>Analise e Desenvolvimento de Sistemas</p>
          <mat-divider></mat-divider>
          <p>4º Semestre</p>
          <mat-divider></mat-divider>
        </mat-card-title>
        <img class="ajuste" mat-card-xl-image src="../../../assets/Images/rafa.png">
      </mat-card-title-group>
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

