<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <div class="container mt-4">
        <div class="row align-items-center">
          <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light">
              <div class="form-floating mb-3">
                <img src="https://cdn.discordapp.com/attachments/1022273617955913822/1023444111287664700/unknown.png" class="rounded mx-auto d-block" alt="logo">
              </div>
              <div class="form-floating mb-3 text-center">
                <h1>Bem Vindo(a)</h1>
                <h3>Faça seu login:</h3>
              </div>
              <div class="form-floating mb-3">
                <input type="cpf" class="form-control" id="inputCpf" placeholder="CPF"/>
                <label for="inputCpf">CPF</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="inputPassword" placeholder="Senha"/>
                <label for="inputPassword">Senha</label>
              </div>

              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="lembrar de mim">Lembrar de Mim
                </label>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary rounded-pill" type="button">ACESSAR</button>
              </div>
            </form>
          </div>
        </div>
    </div>
    
    
  </body>
</html>
