<div class="container-cards">
    <mat-grid-list cols="3" rowHeight="2:2">
        <mat-grid-tile>
            <mat-card class="opcoes">
                <img class="icon" src="../../../assets/icons/event.svg">
                <mat-card-header>
                    <mat-card-title>
                        Agendamento pela internet
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Agende consultas no seu tempo, quando quiser e onde quiser
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="opcoes">
                <img class="icon" src="../../../assets/icons/dollar.svg">
                <mat-card-header>
                    <mat-card-title>
                        Preço Sempre Acessível
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Viva despreocupado, sem medo de tentar, por um valor que nunca irá lhe afetar
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="opcoes">
                <img class="icon" src="../../../assets/icons/medical.svg">
                <mat-card-header>
                    <mat-card-title>
                        Em todos os lugares
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Estaremos por perto quando precisar, escolha a unidade mais próxima para ser atendido
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>

<div class="agendamento">
    <div class="imagem-agendamento"></div>
    <div class="conteudo-agendamento">
        <span class="titulo">Com pressa?</span>
        <p></p>
        <span class="conteudo-texto">Agende uma consulta gratuita conosco agora mesmo!</span>
        <p></p>
        <button mat-raised-button color="primary" routerLink="/consulta-deslogado">Agendar Consulta</button>
    </div>
</div>

