<mat-toolbar>
    <span><img src="../../../assets/Images/logo1.png" routerLink="/home"> </span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Home Button" routerLink="/home">
        <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Login Butoon" routerLink="/login">
        <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="login"></mat-icon>
    </button>
</mat-toolbar>

