body {
    background: rgb(103,225,249);
background: linear-gradient(166deg, rgba(103,225,249,1) 0%, rgba(255,255,255,0.4430147058823529) 48%, rgba(110,255,119,1) 100%);
}

main {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    height: 80%;
}

app-header {
    height: 10%;
}

app-footer {
    height: 10%;
}
