<mat-card>
  <mat-card-content class="card-login">
    <mat-card-title>Faça Login</mat-card-title>
    <mat-card-subtitle>Entre com suas credencias:</mat-card-subtitle>
    <form (submit)="login(clienteForm)" #clienteForm="ngForm">
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="CPF" name="cpf" ngModel required minlength="14" />
        <mat-error>Digite um CPF válido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input type="password" matInput placeholder="Senha" ngModel name="senha" required />
        <mat-error>Digite uma senha válida</mat-error>
      </mat-form-field>
    <p></p><span class="spacer"></span>
     <a routerLink="/esquecisenha" class="posicaosenha"> Esqueci a Senha</a> 
      <button mat-raised-button color="primary" routerLink="/navegacao">Entrar</button>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content class="card-cadastro">
    <mat-card-title>Cadastre-se</mat-card-title>
    <mat-card-subtitle>Ainda não possui um cadastro?</mat-card-subtitle>
    <button mat-raised-button color="primary" routerLink="/cadastro">Cadastrar</button>
  </mat-card-content>
</mat-card>