mat-card{
    margin: auto;
    padding: 3%;
    width: 50%;
    max-width: 500px;    
}

mat-form-field, input {
    width: 100%;
}

.card-cadastro {
    padding-top: 2em;
}

.mat-raised-button {
    line-height: 40px;
    min-width: 80%;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
}