<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
<body class="body">
    <div class=" cor-de-fundo container shadow-lg p-3 mb-5 bg-body rounded">
    <main> 
        <div class="py-5 text-center" id="">
          <img class="" src="https://cdn.discordapp.com/attachments/1022273617955913822/1026293411059351662/unknown.png"alt="" width="" height="">
          
        </div>
        <div class="container-formulario shadow-lg p-5" id="cor">  
         
          <h4 class="text-center"><b>CADASTRO</b></h4> 
          <br>
          <form class="forms" novalidate="" >
            <div class="row g-3">
              <div class="col-12">
                <label for="firstName" class="form-label"><b>Nome:</b></label>
                <input type="text" class="form-control" id="firstName" placeholder="Nome Completo" value="" required="">
                <div class="invalid-feedback">
                  Seu nome completo é necessario
                </div>
              </div>
  
              <div class="col-12">
                <label for="username" class="form-label"><b>CPF</b></label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="username" placeholder="CPF" required="">
                <div class="invalid-feedback">
                    Seu CPF é necessario
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="email" class="form-label"><b>Email </b><span class="text-muted"></span></label>
                <input type="email" class="form-control" id="email" placeholder="seuemail@exemplo.com">
                <div class="invalid-feedback">
                 Insira um endereço de e-mail válido 
                </div>
              </div>
  
              <div class="col-12">
                <label for="telefone" class="form-label"><b>Celular</b></label>
                <input type="tel" class="form-control" id="telefone" placeholder="(xx)xxxxx-xxxx" required="tel">
                <div class="invalid-feedback">
                  Numero Invalido
                </div>
              </div>
  
  
              <div class="col-md-5">
                <label for="country" class="form-label"><b>Sexo</b></label>
                <select class="form-select" id="country" required="">
                  <option value="">Selecione...</option>
                  <option>Masculino</option>
                  <option>Feminino</option>
                  <option>Não identificar</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
  
              <div class="col-md-5">
                <label for="zip" class="form-label"><b>Data de Nascimento</b></label>
                <input type="text" class="form-control" id="zip" placeholder="00/00/0000" required="">
                <div class="invalid-feedback">
                  Data In correta
                </div>
              </div>
            </div>
            
  
            <hr class="my-4">
            
            <div class="col-sm-6">
              <label for="inputPassword4" class="form-label"><b>Senha</b></label>
              <input type="password" class="form-control" id="inputPassword4">
          
                <div class="invalid-feedback">
                  Senha Fraca
                </div>
            </div>
            <div id="passwordHelpBlock" class="form-text">
              Sua senha deve ter de 8 a 20 caracteres, conter letras e números e não deve conter espaços, caracteres especiais ou emoji.
            </div>

            <br>

            <div class="col-sm-6">
              <label for="inputPassword4" class="form-label"><b>Confirmar Senha</b></label>
              <input type="password" class="form-control" id="inputPassword4">
          
                <div class="invalid-feedback">
                  Senha Fraca
                </div>
            </div>

            <hr class="my-4">

            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="same-address">
              <label class="form-check-label" for="same-address"><b>Concordo com os termos de Uso</b></label>
            </div>
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="save-info">
              <label class="form-check-label" for="save-info"><b>Concordo em receber a confirmação de consultas via whatsApp</b></label>
            </div>
     
            
            <br>
            <br>
            <br>
            

            <button class=" w-100 btn btn-primary btn-lg" type="submit">Confirmar Cadastro</button>
          </form>
        </div>
      
    </main>
  
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2022 Med+</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a routerLink="/integrantes">Integrantes</a></li>
        <li class="list-inline-item"><a routerLink="">Suporte</a></li>
      </ul>
    </footer>

  </div>
</body>
</html>