<mat-card>
    <h1><b>Consultas</b></h1>
    <br>
    <mat-list role="list" *ngFor="let consulta of consultas">
        <mat-list-item role="listitem">
            <span class="campos">Especialidade: {{consulta.especialidade}}</span>
            <span class="spacer"></span>
            <span class="campos">Data Agendada: {{consulta.data}}</span>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="edit"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="delete">
            </mat-icon>
        </mat-list-item>
    </mat-list>
