<mat-card>
    <h1><b>Verificar Consulta
        </b></h1>
    <br>
    <mat-list role="list">
        <mat-list-item role="listitem">Consulta <span class="spacer"></span>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="edit"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="delete">
            </mat-icon>
        </mat-list-item>
        <mat-list-item role="listitem">Consulta 2<span class="spacer"></span>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="edit"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="delete">
            </mat-icon>
        </mat-list-item>
        <mat-list-item role="listitem">Consulta 3<span class="spacer"></span>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="edit"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="delete">
            </mat-icon>
        </mat-list-item>
        <mat-list-item role="listitem">Consulta 4<span class="spacer"></span>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="edit"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="delete">
            </mat-icon>
        </mat-list-item>
        <mat-list-item role="listitem">Consulta 5<span class="spacer"></span>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="edit"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="delete">
            </mat-icon>
        </mat-list-item>
        <mat-list-item role="listitem">Consulta 6<span class="spacer"></span>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="edit"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="delete">
            </mat-icon>
        </mat-list-item>
        <mat-list-item role="listitem">Consulta 7<span class="spacer"></span>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="edit"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="delete">
            </mat-icon>
        </mat-list-item>

    </mat-list>
