<mat-card>
    <h1><b>Consultas Agendadas</b></h1>
    <br>
    <mat-list *ngIf="consultas.length > 0">
        <mat-list-item *ngFor="let consulta of consultas">
            <span class="campos">Especialidade: {{consulta.esp_especialidade}}</span>
            <span class="spacer"></span>
            <span class="campos">Data Agendada: {{consulta.cons_dthr}}</span>
            <button mat-icon-button aria-label="login icon">
                <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button aria-label="login icon" (click)="deletarConsulta(consulta.cons_id)">
                <mat-icon aria-hidden="false" aria-label="login icon" fontIcon="delete"></mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
    <p class="mat-body-1" style="text-align: center;" *ngIf="consultas.length == 0">
        Nenhuma consulta agendada. Acesse o agendamento de consultas no menu ao lado.
    </p>
