<mat-card>
    <h1><b>Agendamento de Consulta
    </b></h1>
    <br>
  
    <form (submit)="consulta(clienteForm)" #clienteForm="ngForm">

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" ngModel name="nome" required minlength="15" maxlength="25">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" ngModel name="email" required minlength="30" maxlength="50">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput type="text" ngModel name="cpf" mask="000.000.000-00" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input type="datetime-local" matInput placeholder="DD/MM/AAAA" ngModel name="data" required minlength="" maxlength=""/>
        <mat-error>Digite uma data valida</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Especialidade</mat-label>
        <select matNativeControl required name='Especialidade' (change)="handlerEspec($event)" placeholder="Selecione uma especialidade" >
          <option value=>Selecione</option>
          <option value=1>Cardiologista</option>
          <option value=2>Cirurgião</option>
          <option value=3>Psicólogo</option>
          <option value=4>Oftamologista</option>
          <option value=5>Pediatra</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Unidade</mat-label>
        <select matNativeControl required name='Unidade' (change)="handlerUnidade($event)" placeholder="Selecione uma unidade">
          <option value=>Selecione</option>
          <option value=1>Mooca</option>
          <option value=2>Tatuape</option>
        </select>
      </mat-form-field>
  
    <button mat-raised-button color="primary">Confirmar Agendamento
    </button>
  </form>
  </mat-card>